<script type="text/javascript">

  // Enable the visual refresh
  google.maps.visualRefresh = true;

  // Initialize google map
  google.maps.event.addDomListener(window, 'load', initHomePageMap);

</script>

<div id="map-canvas" style="height:500px;"></div>

<p><%= link_to "Clear map", "javascript:void(0)", :class => "clear-map" %></p>

<p>
  Show locations for user:
</p>

<ul>
  <li>
    <%= link_to "All users",
      locations_all_path,
      :class => "user-show-locations",
      :remote => true %>
  </li>
  <% @users.each do |user| %>
    <li>
      <%= link_to "#{user.email} (id: #{user.id})",
      user_locations_path(user.id),
      :class => "user-show-locations",
      :remote => true %>
    </li>
  <% end %>
</ul>

<ul class="locations">
  <!--new markers will be shown here-->
</ul>
