<script type="text/javascript">

  // Enable the visual refresh
  google.maps.visualRefresh = true;

  // Initialize google map
  google.maps.event.addDomListener(window, 'load', initHomePageMap);

</script>

<div id="map-canvas" style="height:500px;"></div>

<ul class="locations">
  <!--new markers will be shown here-->
</ul>
 